<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436150347639-065phg63d5nl21k9kpgn784aho10todq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436150347639-065phg63d5nl21k9kpgn784aho10todq</string>
	<key>API_KEY</key>
	<string>AIzaSyBHlbOaqYpczKF0cOj1Ck-GkLKCW0S_DB0</string>
	<key>GCM_SENDER_ID</key>
	<string>436150347639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.gopalan</string>
	<key>PROJECT_ID</key>
	<string>gopalan-enterprises</string>
	<key>STORAGE_BUCKET</key>
	<string>gopalan-enterprises.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436150347639:ios:92920b97938bc1227c2372</string>
</dict>
</plist>